In [12]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [13]:
from google.cloud import bigquery
import pandas as pd

client = bigquery.Client()

query = """
 SELECT 
 token_address as addr,
 value as val,
 block_timestamp as time
FROM
`bigquery-public-data.crypto_ethereum.token_transfers` 

WHERE date(block_timestamp)>="2021-01-22"
LIMIT 1000000
"""

Using Kaggle's public dataset BigQuery integration.

In [14]:


query_job = client.query(query)

iterator = query_job.result(timeout=30)
rows = list(iterator)

# Transform the rows into a nice pandas dataframe
df = pd.DataFrame(data=[list(x.values()) for x in rows], columns=list(rows[0].keys()))

# Look at the first 15
df.head(15)

,addr,val,time
0,0x5af2be193a6abca9c8817001f45744777db30756,419999999991,2021-01-25 00:01:04+00:00
1,0xc3e3a97f622736b0eda8e0ed9f5d772b334ff543,720000000000000000,2021-01-25 00:08:21+00:00
2,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,7936164145296117591,2021-01-25 00:06:11+00:00
3,0x0391d2021f89dc339f60fff84546ea23e337750f,39012514361543575346,2021-01-25 00:02:31+00:00
4,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,406335582,2021-01-25 00:05:00+00:00
5,0xa1faa113cbe53436df28ff0aee54275c13b40975,603090849449793448860,2021-01-25 00:01:19+00:00
6,0x514910771af9ca656af840dff83e8264ecf986ca,411274441490000000000,2021-01-25 00:01:04+00:00
7,0x6b175474e89094c44da98b954eedeac495271d0f,1550000000000000000000,2021-01-25 00:01:04+00:00
8,0xdac17f958d2ee523a2206206994597c13d831ec7,300000000,2021-01-25 00:02:26+00:00
9,0xd2dda223b2617cb616c1580db421e4cfae6a8a85,17496710548301774719327,2021-01-25 00:01:19+00:00
10,0x514910771af9ca656af840dff83e8264ecf986ca,750000000000000000,2021-01-25 00:05:03+00:00
11,0x6b175474e89094c44da98b954eedeac495271d0f,20000000000000000000000,2021-01-25 00:06:50+00:00
12,0x514910771af9ca656af840dff83e8264ecf986ca,53715684100000000000,2021-01-25 00:08:36+00:00
13,0x514910771af9ca656af840dff83e8264ecf986ca,750000000000000000,2021-01-25 00:05:14+00:00
14,0x514910771af9ca656af840dff83e8264ecf986ca,750000000000000000,2021-01-25 00:00:08+00:00

In [15]:
#show the token_address with the most transactions
listtop5=df.addr.value_counts()[:5].index.tolist()
print(listtop5)#print the top 5 most transacted coins

['0xdac17f958d2ee523a2206206994597c13d831ec7', '0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2', '0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48', '0x6b175474e89094c44da98b954eedeac495271d0f', '0x514910771af9ca656af840dff83e8264ecf986ca']

In [16]:
client = bigquery.Client()
#get the token tiker and the decimals
query = """
 SELECT 
 address as addr,
 decimals as deci,
 name as name
FROM
`bigquery-public-data.crypto_ethereum.tokens` 
"""

query_job = client.query(query)

iterator = query_job.result(timeout=30)
rows2 = list(iterator)
#print (rows)
# Transform the rows into a nice pandas dataframe
df2 = pd.DataFrame(data=[list(x.values()) for x in rows2], columns=list(rows2[0].keys()))

# Look at the first 10
df2.head(10)

Using Kaggle's public dataset BigQuery integration.

                                         addr  deci                name
0  0xf90256a944ee706b0df37483073e8630fc8ec33d    18         YCDEMOToken
1  0x34cd42d95efe1de0d02728b37fb661cf06d8e9d1    18  Patriot Party Coin
2  0xb7a3b38de8023324768ab11e16e0689d80f739ae  None  ROCK PAPER NIPPLES
3  0xdc4122e1d6c799d4bfe82b714e98069c80839bcd    18        PAID Network
4  0x01ad3bc152ed7351db3b5917075099bae18b7048  None      BEFORE CAMERAS
5  0xdfcafe52f2abc6c1a38363b4cfa3cf2cfae95d3a     9               btest
6  0x6807d7f7df53b7739f6438eabd40ab8c262c0aa8    18               FORCE
7  0x6eeb7dbe45412aaf1cb1e4f728124422a4441244     1          LOVE Token
8  0x2781f0311a39be98882de8ddfb8d0705291ab428     2        Cresus Token
9  0x44ee716d825e805faecc196fa4d7eb2f83906bef     2             Repulsr

In [17]:
#check the top5 coins and extract the decimals + tiker for them
df['val'] = df['val'].astype(float)

digit=[0]*5 #generate two arrays
name=[0]*5

digit[0]=df2.loc[df2['addr'] == listtop5[0]]['deci'].values #extract decimals and name for all top5 tokens
name[0]=df2.loc[df2['addr'] == listtop5[0]]['name'].values

digit[1]=df2.loc[df2['addr'] == listtop5[1]]['deci'].values
name[1]=df2.loc[df2['addr'] == listtop5[1]]['name'].values

digit[2]=df2.loc[df2['addr'] == listtop5[2]]['deci'].values
name[2]=df2.loc[df2['addr'] == listtop5[2]]['name'].values

digit[3]=df2.loc[df2['addr'] == listtop5[3]]['deci'].values
name[3]=df2.loc[df2['addr'] == listtop5[3]]['name'].values

digit[4]=df2.loc[df2['addr'] == listtop5[4]]['deci'].values
name[4]=df2.loc[df2['addr'] == listtop5[4]]['name'].values

for x in range(0, 5): #check for not listed tokens
    if listtop5[x]== "0x6b175474e89094c44da98b954eedeac495271d0f": #DAI
        digit[x]=18
        name[x]=["Dai Stablecoin"]
    if listtop5[x]== "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48": # USD
        digit[x]=6
        name[x]=["USD Coin"]
#maybe there are some more tokens who need to be added
        
print(digit)
print(name)

[array(['6'], dtype=object), array(['18'], dtype=object), 6, 18, array(['18'], dtype=object)]
[array(['Tether USD'], dtype=object), array(['Wrapped Ether'], dtype=object), ['USD Coin'], ['Dai Stablecoin'], array(['ChainLink Token'], dtype=object)]

In [18]:
#get the total volume of the top5 coins
import math
vol0=df.loc[df['addr'] == listtop5[0], 'val'].sum() #collect all val in df when addr=var
vol1=df.loc[df['addr'] == listtop5[1], 'val'].sum()
vol2=df.loc[df['addr'] == listtop5[2], 'val'].sum()
vol3=df.loc[df['addr'] == listtop5[3], 'val'].sum()
vol4=df.loc[df['addr'] == listtop5[4], 'val'].sum()

#get the correct volume
vol0=vol0/math.pow(10,digit[0])
vol1=vol1/math.pow(10,digit[1])
vol2=vol2/math.pow(10,digit[2])
vol3=vol3/math.pow(10,digit[3])
vol4=vol4/math.pow(10,digit[4])


print(name[0],vol0,name[1],vol1,name[2],vol2,name[3],vol3,name[4],vol4)

['Tether USD'] 4434831731.6194 ['Wrapped Ether'] 5348653.857319361 ['USD Coin'] 2770671147.182214 ['Dai Stablecoin'] 1459328151.917453 ['ChainLink Token'] 21527889.026074316

In [19]:
from google.cloud import bigquery
import pandas as pd

client = bigquery.Client()

#here we could reduce the data to collect
#maybe there is a way to take the top add to the query
query = """
 SELECT 
 token_address as addr,
 value as val,
 date(block_timestamp) as time
FROM
`bigquery-public-data.crypto_ethereum.token_transfers` 

WHERE date(block_timestamp)>="2021-01-20"
LIMIT 10000000
"""

Using Kaggle's public dataset BigQuery integration.

In [20]:
query_job = client.query(query)

iterator = query_job.result(timeout=30)
rows = list(iterator)

# Transform the rows into a nice pandas dataframe
df3 = pd.DataFrame(data=[list(x.values()) for x in rows], columns=list(rows[0].keys()))

# Look at the first 15
df3.head(15)

,addr,val,time
0,0x5af2be193a6abca9c8817001f45744777db30756,419999999991,2021-01-25
1,0xc3e3a97f622736b0eda8e0ed9f5d772b334ff543,720000000000000000,2021-01-25
2,0x0391d2021f89dc339f60fff84546ea23e337750f,39012514361543575346,2021-01-25
3,0xa1faa113cbe53436df28ff0aee54275c13b40975,603090849449793448860,2021-01-25
4,0xd2dda223b2617cb616c1580db421e4cfae6a8a85,17496710548301774719327,2021-01-25
5,0x0bc529c00c6401aef6d220be8c6ea1667f6ad93e,835331720000000000,2021-01-25
6,0x8e870d67f660d95d5be530380d0ec0bd388289e1,6505000000000000000000,2021-01-25
7,0xf0ee6b27b759c9893ce4f094b49ad28fd15a23e4,1000000000,2021-01-25
8,0xa15c7ebe1f07caf6bff097d8a589fb8ac49ae5b3,1660821019364969903277671,2021-01-25
9,0xfa5047c9c78b8877af97bdcb85db743fd7313d4a,1173394012383097328,2021-01-25
10,0x2f1364d1af83afa748a452579b09d69ee83e8c86,90315000000,2021-01-25
11,0xe0ad1806fd3e7edf6ff52fdb822432e847411033,13330370370370370370,2021-01-25
12,0xa3bed4e1c75d00fa6f4e5e6922db7261b5e9acd2,100000000000000000000,2021-01-25
13,0x111111111117dc0aa78b770fa6a738034120c302,112436897417573379302,2021-01-25
14,0x9f8f72aa9304c8b593d555f12ef6589cc3a579a2,4168600000000000000,2021-01-25

In [21]:
import datetime

df3['time'] = pd.to_datetime(df3['time']) #convert the time format
qwert=[]
token0=pd.DataFrame(qwert, columns=['day', 'transac'])#generat a empty dataframe

for x in range(0, 30): #move one month and check the transactions for a token
    d=datetime.date.today() - datetime.timedelta(days=x) #generate the date
    d=d.strftime("%Y-%m-%d") #edit it in the correct format
    a=df3[(df3["addr"] == listtop5[0]) & (df3["time"]==d)].count() #collect all transactions for this data
    a=a[0] #filter it
    token0.loc[x] =[d,a] #add data to the frame
print(name[0])
print (token0)

['Tether USD']
           day transac
0   2021-01-25   10956
1   2021-01-24  174130
2   2021-01-23  185791
3   2021-01-22  213047
4   2021-01-21  215028
5   2021-01-20  221272
6   2021-01-19       0
7   2021-01-18       0
8   2021-01-17       0
9   2021-01-16       0
10  2021-01-15       0
11  2021-01-14       0
12  2021-01-13       0
13  2021-01-12       0
14  2021-01-11       0
15  2021-01-10       0
16  2021-01-09       0
17  2021-01-08       0
18  2021-01-07       0
19  2021-01-06       0
20  2021-01-05       0
21  2021-01-04       0
22  2021-01-03       0
23  2021-01-02       0
24  2021-01-01       0
25  2020-12-31       0
26  2020-12-30       0
27  2020-12-29       0
28  2020-12-28       0
29  2020-12-27       0

In [22]:
qwert=[]
token1=pd.DataFrame(qwert, columns=['day', 'transac'])#generat a empty dataframe

for x in range(0, 30): #move one month and check the transactions for a token
    d=datetime.date.today() - datetime.timedelta(days=x) #generate the date
    d=d.strftime("%Y-%m-%d") #edit it in the correct format
    a=df3[(df3["addr"] == listtop5[1]) & (df3["time"]==d)].count()#collect all transactions for this data
    a=a[0]#filter it
    token1.loc[x] =[d,a]#add data to the frame
print(name[1])
print (token1)

['Wrapped Ether']
           day transac
0   2021-01-25   12887
1   2021-01-24  152678
2   2021-01-23  139061
3   2021-01-22  124221
4   2021-01-21  128490
5   2021-01-20  131805
6   2021-01-19       0
7   2021-01-18       0
8   2021-01-17       0
9   2021-01-16       0
10  2021-01-15       0
11  2021-01-14       0
12  2021-01-13       0
13  2021-01-12       0
14  2021-01-11       0
15  2021-01-10       0
16  2021-01-09       0
17  2021-01-08       0
18  2021-01-07       0
19  2021-01-06       0
20  2021-01-05       0
21  2021-01-04       0
22  2021-01-03       0
23  2021-01-02       0
24  2021-01-01       0
25  2020-12-31       0
26  2020-12-30       0
27  2020-12-29       0
28  2020-12-28       0
29  2020-12-27       0